##### input data #####
SAMPLE=PromethionGenDev_Test4_13062022
BASE=/media/euphrasie/Alienware_May202/PromethionGenDev_Test4_13062022_analysis
#mkdir $BASE

REF=/media/euphrasie/DATA/reference_genome/newhg38/GRCh38.primary_assembly.genome.fa



##### 1 BASECALLING SETUP #####
FAST5=/media/euphrasie/NGS_AURELIE/PromethionGenDev_Test4_13062022/no_sample/20220613_1641_1A_PAM60245_ad874836/fast5
GUPPY=$BASE/guppy
#mkdir $GUPPY

FASTQ=$BASE/$SAMPLE.fastq.gz

##### mapping #####
#minimap2
minimap2='/home/euphrasie/bioprog/minimap2/minimap2' 




