
BENCH=/media/euphrasie/Alienware_May202/bench
EXBAM=/media/euphrasie/Alienware_May202/subexome.bam
EXOME=subexome
EXVCF=/media/euphrasie/Alienware_May202/subexome.vcf
VCFPROM=/media/euphrasie/Alienware_May202/subprom.vcf.gz
SAMPLE=sample
OUTPUT_DIR=${BENCH}/happy


export HGREF=/media/euphrasie/DATA/reference_genome/hg38_exclusion/GRCh38.p13.GRC_exclusions_T2Tv2.fa
