

. /media/euphrasie/Alienware_May202/promline/pipeline.flag


##### input data #####
BASE=`readlink -f $FLAGS_base`
REF=`readlink -f $FLAGS_ref`
REFMMI=${REF%.*}.mmi
FAST5=`readlink -f $FLAGS_fast5`


##### 1 BASECALLING SETUP #####
#guppy
GUPPY=$BASE/guppy
FASTQ=$BASE/$FLAGS_sample.fastq.gz

#dorado 
dorado=/home/euphrasie/bioprog/dorado-0.0.1+4b67720-Linux
DORADOBAM=$BASE/dorado/${FLAGS_sample}_dorado.bam




##### 2 MAPPING #####
#minimap2
MMI=$BASE/mmi
BAM=$MMI/${FLAGS_sample}_mmi.bam
DORADOMMI=$MMI/${FLAGS_sample}_dorado_mmi.bam



##### 3 VC #####
##### 3.1 SV #####

# sniffles
VCF_SNF=$BASE/vc/sniffles/${FLAGS_sample}_sniffles.vcf



##### 3.2 SMALL VARIANTS ##### 

# pmdv 

# Set up PMDV output directory
OUTPUT_DIR_PMDV="${BASE}/vc/pmdv"
PMDV_PREFIX="${FLAGS_sample}_pmdv"

# clair3
CLAIR_OUT="${BASE}/vc/clair3"